<div class='background statsbg'></div>
<h2>Hero Stats!</h2>
<a href="/selecthero"><button class='hero-select btn btn-large waves-effect waves-light grey darken-3 white-text fxn'>Enter Game</button></a>
<table class="striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Health</th>
            <th>Attack</th>
            <th>Defence</th>
            <th>Wins</th>
            <th>Loses</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Game Dev Zach</td>
            <td>9999</td>
            <td>9999</td>
            <td>9999</td>
            <td>∞</td>
            <td>1</td>
        </tr>
        {{#each heros}}
        <tr>
            <td>{{name}}</td>
            <td>{{attack}}</td>
            <td>{{defense}}</td>
            <td>{{health}}</td>
            <td>{{wins}}</td>
            <td>{{loses}}</td>

        </tr>
        {{/each}}
        <tr>
            <td>Scion</td>
            <td>31</td>
            <td>24</td>
            <td>25</td>
            <td>31</td>
            <td>6</td>
        </tr>
        <tr>
            <td>Templar</td>
            <td>21</td>
            <td>30</td>
            <td>29</td>
            <td>13</td>
            <td>3</td>
        </tr>
        <tr>
            <td>M'aiq the Liar</td>
            <td>26</td>
            <td>27</td>
            <td>27</td>
            <td>4</td>
            <td>3</td>
        </tr>
    </tbody>
</table>